data/processed-data/data-coco
data.tar
data
cross_validation_data
heidelberg-test
cuneiform_ocr_data/heidelberg/temp
cuneiform_ocr_data/labasi/data
.idea
temp
*.jpg
venv/
__pycache__
utils/__pycache__
.pyre
.venv/
INFO
epoch_*
*.pth
checkpoints
logs/
work_dirs
0processed_data
*.gz
cuneiform_ocr_data/classification/data
data/processed-data/data-coco/data-coco
cuneiform_ocr_data/data
data.tar.gz