cuneiform_ocr_data/classification/preprocessing_cdp/img
cuneiform_ocr_data/classification/preprocessing_cdp/imgs
data
.idea
temp
*.jpg
venv/
__pycache__
utils/__pycache__
.pyre
.venv/
INFO
epoch_*
*.pth
checkpoints
logs/
work_dirs
0processed_data
*.gz